# Files
.env
.dccache
.DS_Store
minion.json
__minion.filecontents.prompt__.txt

# Folders
node_modules/
lib/
docs/
coverage/
jest-coverage/
build/
dist/
package/
testing/
ignore/

# Diagrams
**/*.bkp
**/*.bak

# Bundles
*.tgz
